doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/chat.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript').
        function gup( name )
        {
            name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
            var regexS = "[\\?&]"+name+"=([^&#]*)";
            var regex = new RegExp( regexS );
            var results = regex.exec( window.location.href );
            if( results == null )
                return "";
            else
                return results[1];
        }

        $(function(){
            var socket = io();
            socket.emit('client connect', {
                nickname: gup('Nickname'),
                server: gup('Server'),
                channel: gup('Channel').replace('%23', '#')
                });

            $('#btnSend').click(function() {
                socket.emit('chat message', $('#chatbox').val());
                $('#chatbox').val('');
                return false;
            });

            $('.mainheader').append("(" + gup('Nickname') + " on " + gup('Channel').replace('%23', '#') + ")");

            socket.on('message recieved', function(data){
                $('.table-striped').append("<tr><td class='nicksection'>"+data.frm+":</td><td>"+data.msg+"</td></tr>");
            });

            socket.on('info recieved', function(data){
                $('.table-striped').append("<tr class='info'><td class='nicksection'>"+data.frm+":</td><td>"+data.msg+"</td></tr>");
            });

            socket.on('error recieved', function(data){
                $('.table-striped').append("<tr class='danger'><td class='nicksection'>"+data.frm+":</td><td>"+data.msg+"</td></tr>");
            });

            socket.on('join recieved', function(data){
                $('.table-striped').append("<tr class='success'><td class='nicksection'></td><td>user <strong>"+data.nick+"</strong> has joined</td></tr>");
            });

            socket.on('quit recieved', function(data){
                $('.table-striped').append("<tr class='warning'><td class='nicksection'></td><td>user <strong>"+data.nick+"</strong> has quit (" + data.rs +")</td></tr>");
            });
            //io.on('setup', function(data) {
            //    $('.mainheader').append("("+data.nickname+" on "+data.chan+")");
            //});
            //io.on('talk', function(data) {
            //    
            //});
        });
  body
    block content